html, body {
	overflow-x: hidden;
}

img {
	display: none;
	width: 50%;
	float: left;
}

.lead {
	font-family: 'Quicksand', sans-serif;
}

.jumbotron {
	background-image: url('../img/beer-background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Berkshire Swash', cursive;	
}

.container {
	font-family: 'Quicksand', sans-serif;
}

.question {
	font-weight: bold;
	font-size: 25px;
}

#outputBeer {
	display: inline-block;
}

#resultBeer {
	font-family: 'Berkshire Swash', cursive;
	
}
